html{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #777777;
}

*,
*:after,
*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

/* Movile firts */


/* Nav mobile*/

/* .portada{
    display: grid;
    grid-template-areas: 
        "video texto";
        
    grid-template-columns: auto auto;
    height: 100vh;
    width: 100vw; 
} */



.menulanding{
    display: none;
}



.logoimg{
    display: grid;
    grid-template-areas: 
        "img texto";
        
    grid-template-columns: 90px auto;
    height: 50px;
    background-color: #ffffff;
  
}

.logowbs{
    display: grid;
    align-content: center;
    justify-content: center;
}

.logowbs img{
    height: 40px;
    width: 40px;
    
}

.logowbs2{
    display: grid;
    align-content: center;
}

.logowbs2 a{
   text-decoration: none;
   font-size: 1.2em;
   color: #ed008c;
   cursor: pointer;

}


/* Menù movil */
.menuwbs{
    border-radius: 50%;
    background: #ed008c;
    
    top: 0;
    
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 10px;
    width: 50px;
    z-index: 30;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-items: center;
}

.menumovil2{
	position: fixed;
	top: 0;
	z-index: 25;
	right: -100%;
	/* background: rgba(0,0,0,0.8); */
	height: 100%;
	width: 100%;
	transition: .55s .1s cubic-bezier(0, 1.07, 0, 1.02);
}


.mostrarmenu2{
	right: 0;
	z-index: 29;

	
}

.menuwbs .icon-mas{
    font-size: 2em;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color: white;
    transition: all 1s;
}

.iconnone {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition: all 1s;
}

.menumovil2 .hul .qe{
	text-align: center;
	
	

}
.menumovil2 .hul .qe li a{
	color: #fff;
}

.menumovil2 .hul li a{
	color: #ede7f3;
}


.menumovil2 .hul {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1em;
	background: linear-gradient(to top, rgba(237,0,140,0.4) 0%, rgba(237,0,140) 80%);
    float: right;
}

.logofinalm {
    margin: 40px auto 0 auto;
   
    align-items: center;
    grid-gap: 5px;
}

.logofinalm a {
    text-decoration: none;
    
    color: white;
    

    font-size: 1.5em;
}

.logofinalm img {
    height: 80px;
    margin-bottom: 1em;
}

.logofinalm .text{
    color: white;
}
.links, .icon-clientes, .icon-telefono, .icon-menudeldia, .icon-mail, .icon-gestion:before {
    color: #fadc1a;
    margin-right: 5px;
}

.hul li {
    margin: 1em 4em;
    border-bottom: 1px solid #fadc1a;
}

.menumovil2 .hul li a {
    display: block;
    color: white;
}


.hul li a {
    transition: all 300ms;
    text-decoration: none;
}

.iconosocial a {
    text-decoration: none;
}

.iconosocial .icon-facebook, .icon-whatsapp, .icon-instagram {
    color: white;
}

.iconosocial .iconosmenu2 {
    margin: 5px;
    font-size: 32px;
}



.menumovil2 .hul .qe {
    text-align: center;
 
}


.hul {
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    list-style: none;
    font-size: 1.5em;
    /* border-radius: 50%; */
    z-index: 11;
    width: 100%;
    text-align: center;
}

/* menu movil js */
.colormenu2{
	
	transition:all 1s;
}

.colormenu3{
	margin-top: 0;
	margin-right: 10px;
	transition:all 1s
}

/* end menu movil js */

/* End Menù movil */

/* end Nav mobile*/

main{
    /* width: 90%;
    margin: 0 auto; */
    
}

/* Portada */
.portada{
    display: grid;
    grid-row: auto;
    background: #fde5f3;
    
}

.c{
    background:#fff0e5;
}

.text {
    max-width: 400px;
    margin: 0 auto;
    
}

.text span{
    font-weight: bold
}

.text1{
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    
    line-height: 29px;
    margin: 30px auto 30px auto;
    width: 80%;

}

.text2{
    text-align: center;
    font-size: 1.2em;
   
    letter-spacing: .05em;
    width: 80%;
    margin: 0 auto 30px auto;
 
 
}

.text3 {
	text-align: center;
    font-size: 1.1em;

    letter-spacing: .05em;
    line-height: 29px;
    margin: 30px 20px 0 20px;

    
}
.text4{
    text-align: center;
    font-size: 1.6em;
    color: #333;
    font-weight: bold;
     
}

.text5{
    text-align: center;
    font-size: 1.6em;
    margin: 10px 20px 0 20px;
}

.text5 span{
    color: #25D366;
}

.text5 em{
    font-size: .9em
}

.text6{
    text-align: center;
    font-size: .8em;
    margin: 10px 20px 0 20px;
}

.accesoimg{
    display: grid;
    justify-content: center;
    align-content: center;
    
}

.accesoimg img{
    height: 200px;
    margin-top: 20px;


}


.flecha{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.flecha a{
    text-decoration: none;
}

.flechavideo{
    font-size: 3em;

}

.menumama{
    height: 30px;
}
.menumama a span.flechatipica{

	
    width: 100%;

	font-size: 3em;
	overflow: hidden;
    display: block;
    text-align: center;
    
	
}


.icon-flecha-down:before{
	animation: example 1s linear 1s infinite alternate;
    position: relative;
}

@keyframes example {
    from {top:0; color: #fde5f3}
    to {top:7px; color: #ed008c;}
}



.video{
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 56.25%;

    position: relative;
}

.video1{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.video iframe{
    width: 100%;
}


form{
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 20px;
 

}

.videoganadoras{
    width: 100%;
    height: 190px;
    display: grid;
    align-content: center;
    justify-content: space-around;
}


.textgracias {
    width: 80%;
    margin: auto 30px;
    text-align: center;
    padding: 40px;
}

input{

   
    margin-bottom: 15px;
    width: 80%;
    padding: 5px;
    font-size: 1em;
    border-radius: 3px;
    background: rgba(237,0,140,0.1);
    border: 1px solid #ed008c;
    
}

.cinput{
    border: 1px solid #ff6900;
    background: rgba(255,105,0,0.1);
}

#boton{
    
    color: white;
    border: 1px solid #128C7E;
    width: 80%;
    height: 50px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(to bottom, #bdf1d1 0%,#25D366 100%);
    border: 1px solid #128C7E;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
  
}

.precio1{
    height: 50px;
    width: 100%;
}


/* Botones Flotantes  */
.whatsapp {
    bottom: 16px;
}

.whatsapp {
    filter: opacity(70%);
}

.whatsapp a {
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.whatsapp {
    width: 50px;
    height: 50px;
    right: 5px;
    background: #25D366;
    border-radius: 50%;
    transition: box-shadow 0.8s cubic-bezier(.19, 1, .22, 1);
}
.whatsapp, .facebook {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    z-index: 10;
    position: fixed;
    cursor: pointer;
}


.facebook {
    bottom: 90px;
}
.facebook {
    filter: opacity(80%);
}

.facebook {
    width: 50px;
    height: 50px;
    right: 5px;
    background: #fff;
    border-radius: 50%;
    transition: box-shadow 0.8s cubic-bezier(.19, 1, .22, 1);
}

.facebook a {
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    margin-top: 6px;
}

.whatsapp2, .facebook2 {
    display: none;
}


/* End Botones Flotantes  */



/* End Portada */

/* IMG WBS */
.wbsimg{
   
    display: grid;
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 30%;
    margin-bottom: 30px;
    width: 100%;
    
    
}

.WBSimg1{
    margin-top: 30px;
    width: 100%;
    position: absolute;

}
/* IMG WBS */


/* Caracterìsticas */
.caracteristicas{
    display: grid;
    align-content: center;
    justify-content: center;
    background: #e9faef;
}


.caracteristicas h2{
    margin-top: 30px;
    text-align: center;
    font-weight: unset;
    font-size: 1.3em;
    margin-bottom: 30px;

}

.caracteristicas p{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
}

.caracteristicasp1{
    font-size: 1.2em;
}

.caracteristicasp1 span{
 
    font-weight: bold;
}

/* End Caracterìsticas */

footer{
    background: #fde5f3
}
.cfooter{
    background:  #fff0e5;
}

.diseño {
    font-size: 0.8em;
    text-align: center;
}

.diseño p a{
    color: #666;
    text-decoration: none;
}

.boton{
    display: grid;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    

}



.boton1{
    cursor: pointer;
        background-color: #ed008c;
   
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  
    border-style: 1px solid #fff;
    border: 1px solid #ed008c;
    border-radius: 10px;
}

.cboton1{
    background-color: #ff6900;
    border: 1px solid #f9423A;
}



/* Tablets */

@media screen and (min-width: 768px){

    .whatsapp, .facebook {
        display: none;
    }
    .whatsapp2, .facebook2 {
        display: grid;
    }
    
    .whatsapp2 {
        bottom: 16px;
    }
    .whatsapp2 {
        filter: opacity(70%);
    }
    .whatsapp2 {
        width: 50px;
        height: 50px;
        right: 5px;
        background: #25D366;
        border-radius: 50%;
        transition: box-shadow 0.8s cubic-bezier(.19, 1, .22, 1);
    }
    .whatsapp2, .facebook2 {
        grid-template-columns: auto;
        align-items: center;
        z-index: 10;
        position: fixed;
        cursor: pointer;
    }
    .whatsapp2 a {
        text-decoration: none;
        font-size: 2em;
        color: #fff;
        text-align: center;
    }

    .facebook2 {
        bottom: 90px;
    }
    
    .facebook2 {
        filter: opacity(80%);
    }
    .facebook2 {
        width: 50px;
        height: 50px;
        right: 5px;
        background: #fff;
        border-radius: 50%;
        transition: box-shadow 0.8s cubic-bezier(.19, 1, .22, 1);
    }
    .facebook2 a {
        text-decoration: none;
        font-size: 2em;
        text-align: center;
        margin-top: 6px;
    }
    

}

/* Pc */

@media screen and (min-width: 950px){


}


